{% include 'base.html' %}
<div class="student">
    <div class="details">
        <div class="md">
            <h3>E-mail: example@eg.edu.in</h4>
            <h3>Dept: CSE</h4>
        </div>
        <div class="courses">
            <div class="course">
                <h3>Course code:</h3>
                <h4>Assigned: Jane Doe</h4>
                <h4>Selected: Jack Doe</h4>
            </div>
            <div class="course">
                <h3>Course code:</h3>
                <h4>Assigned: Jane Doe</h4>
                <h4 class="wr">Selected: Jack Doe</h4>
            </div>
            <div class="course">
                <h3>Course code:</h3>
                <h4>Assigned: Jane Doe</h4>
                <h4 class="wr">Selected: Jack Doe</h4>
            </div>
            <div class="course">
                <h3>Course code:</h3>
                <h4>Assigned: Jane Doe</h4>
                <h4>Selected: Jack Doe</h4>
            </div>
            <div class="course">
                <h3>Course code:</h3>
                <h4>Assigned: Jane Doe</h4>
                <h4 class="wr">Selected: Jack Doe</h4>
            </div>
            <div class="course">
                <h3>Course code:</h3>
                <h4>Assigned: Jane Doe</h4>
                <h4 class="wr">Selected: Jack Doe</h4>
            </div>
            <div class="course">
                <h3>Course code:</h3>
                <h4>Assigned: Jane Doe</h4>
                <h4>Selected: Jack Doe</h4>
            </div>
            <div class="course">
                <h3>Course code:</h3>
                <h4>Assigned: Jane Doe</h4>
                <h4 class="wr">Selected: Jack Doe</h4>
            </div>
        </div>
    </div>
    <div class="profile">
        <div class="image">
        </div>
        <h3>Name: Shiva</h3>
    </div>
</div>